<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.pedro.sample">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera2.full" />
    <uses-feature android:name="android.hardware.camera2.autofocus" />

    <!-- 단말 재시작 시 권한 : Q부터 SYSTEM_ALERT_WINDOW도 필요함-->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" /> <!-- 화면잠금 -->
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
    <uses-permission android:name="android.intent.action.MEDIA_MOUNTED" />
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />

    <!-- 포그라운드 서비스 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <uses-feature android:name="android.hardware.usb.host" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- 단말 재시작 시 수신자 -->
        <receiver
            android:enabled="true"
            android:exported="true"
            android:name=".BootCompletedReceiver">
            <intent-filter android:priority="999">
                <category android:name="android.intent.category.DEFAULT"/>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.BOOT" />
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>


        <receiver
            android:name=".DeviceAdmin"
            android:description="@string/app_name"
            android:exported="true"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_DEVICE_ADMIN">
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/policies" />

            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>
        </receiver>


        <activity
            android:name=".CameraDemoActivity"
            android:screenOrientation="landscape"/>

        <activity
            android:enabled="true"
            android:exported="true"
            android:name=".Camera2DemoActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:screenOrientation="landscape"
            android:exported="true">

        </activity>

        <service
            android:name=".CameraRtspService"
            android:enabled="true"
            android:exported="true"
            android:process=":camera1">

            <!-- 다른 앱에서 실행시킬 수 있도록 노출 -->
            <intent-filter>
                <action android:name="org.techtown.wifi.START_MY_SERVICE" />
            </intent-filter>
        </service>

        <service
            android:name=".CameraRtspService2"
            android:enabled="true"
            android:exported="true"
            android:process=":camera2">

            <!-- 다른 앱에서 실행시킬 수 있도록 노출 -->
            <intent-filter>
                <action android:name="org.techtown.wifi.START_MY_SERVICE" />
            </intent-filter>
        </service>

    </application>

</manifest>